<div class="container">
    <form [formGroup]="userform">
        <div>
            <label for="name">Name</label>
            <div>
                <input type="text" #name id="name" name="name" formControlName="name" placeholder="Name">           
            </div>
        </div>
        <div>
            <label for="mobile" class="form-label">Mobile</label>
            <div>
                <input type="tel" id="mobile" name="mobile" formControlName="mobile" placeholder="Mobile">
            </div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="email" id="email" name="email" formControlName="email" placeholder="xyz@gmail.com">
            </div>
        </div>
        <div>
            <label for="email" >Gender</label>
            <div>
                <select formControlName="gender">
                    <option value=""> --Select--</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <div>
            <label for="name">User Type</label>
            <div>
                <div>
                    <input formControlName="userType" type="radio" id="User" value="User">
                    <label for="User">User</label>
                </div>
                <div>
                    <input formControlName="userType" type="radio" id="Admin" value="Admin">
                    <label for="Admin">Admin</label>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="btn-group" role="group">
                <button (click)="save()" [disabled]="userform.invalid" class="btn btn-primary" type="button">
                    {{id==0 || id==null ?'Save':'Update'}}</button>
                <button class="btn btn-secondary" type="button">Reset </button>
            </div>
        </div>

        <div >
            {{userform.value |json}}
        </div>  
    </form>
</div>