<div class="container">
    <form [formGroup]="userform">
        <div>
            <label for="name"><b>Name</b></label>
            <div>
                <input type="text"  id="name" name="name" formControlName="name" placeholder="Name"><br>  
                <span style="color: red;" *ngIf="name && name.invalid && name.touched">This fiels is invalid</span>
            </div>
        </div>
        <div>
            <label for="mobile"><b>Mobile</b></label>
            <div>
                <input type="text" id="mobile" name="mobile" formControlName="mobile" placeholder="Mobile"><br>
                <span style="color: red;" *ngIf="mobile && mobile.invalid && mobile.touched">This field is invalid</span> 
            </div>
        </div>
        <div>
            <label for="email"><b>Email</b></label>
            <div>
                <input type="email" id="email" name="email" formControlName="email" placeholder="xyz@gmail.com"><br>
                <span style="color: red;" *ngIf="email && email.invalid && email.touched">This fiels is invalid</span>
            </div>
        </div>
        <div>
            <label for="email" ><b>Email</b>></label>
            <div>
                <select formControlName="gender">
                    <option value=""> --Select--</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <div>
            <label for="name"><b>User Type</b></label>
            <div>
                <div>
                    <input formControlName="userType" type="radio" id="User" value="User">
                    <label for="User">User</label>
                </div>
                <div>
                    <input formControlName="userType" type="radio" id="Admin" value="Admin">
                    <label for="Admin">Admin</label>
                </div>
            </div><br>
        </div>
        <div class="mb-1">
            <div class="btn-group" role="group">
                <button class="btn btn-info" [routerLink]="['/user']">Back</button>
                <button (click)="save()" [disabled]="userform.invalid" class="btn btn-primary" type="button">
                    {{id==0 || id==null ?'Save':'Update'}}</button>
                <button class="btn btn-secondary" (click)="resetValues()" type="button">Reset </button>
            </div>
        </div>

        <!-- <div >
            {{userform.value |json}}
        </div>   -->
    </form>
</div>